includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Property Dive\\Geo\\Cache\\DetectionCache::\$cache \(Illuminate\\Cache\\Repository\) does not accept Illuminate\\Contracts\\Cache\\Repository\.#'
